# 3 Exploratory Data Analysis

### 3.1 Importing Modules and Data

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

In [3]:
filename = '../Step 2 - Data Wrangling/FlareDataClean.csv'
df = pd.read_csv(filename)

df.head()

,Zurich_Class,Largest_Spot_Size,Spot_Distribution,Activity,Evolution,Prev_24h_Activity,Historically_Complex,Become_Historically_Complex,Area,Area_Of_Largest,C_Class_Flares,M_Class_Flares,X_Class_Flares
0,8,4,1,1,3,1,1,1,1,1,0,0,0
1,4,2,2,1,3,1,1,2,1,1,0,0,0
2,3,3,2,1,3,1,1,2,1,1,0,0,0
3,8,2,1,1,2,1,1,1,1,1,0,0,0
4,8,3,1,1,1,1,1,2,1,1,0,0,0

### 3.2 Description of Data

In [6]:
df.describe()

,Zurich_Class,Largest_Spot_Size,Spot_Distribution,Activity,Evolution,Prev_24h_Activity,Historically_Complex,Become_Historically_Complex,Area,Area_Of_Largest,C_Class_Flares,M_Class_Flares,X_Class_Flares
count,1066.000000,1066.000000,1066.000000,1066.000000,1066.000000,1066.000000,1066.000000,1066.000000,1066.000000,1066.0,1066.000000,1066.000000,1066.000000
mean,4.938086,2.906191,1.964353,1.153846,2.401501,1.059099,1.404315,1.875235,1.025328,1.0,0.300188,0.046904,0.005629
std,2.256740,1.197266,0.806456,0.360971,0.620584,0.320324,0.490989,0.330608,0.157194,0.0,0.835784,0.302811,0.086487
min,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,0.000000,0.000000,0.000000
25%,3.000000,2.000000,1.000000,1.000000,2.000000,1.000000,1.000000,2.000000,1.000000,1.0,0.000000,0.000000,0.000000
50%,4.000000,3.000000,2.000000,1.000000,2.000000,1.000000,1.000000,2.000000,1.000000,1.0,0.000000,0.000000,0.000000
75%,8.000000,4.000000,2.000000,1.000000,3.000000,1.000000,2.000000,2.000000,1.000000,1.0,0.000000,0.000000,0.000000
max,8.000000,6.000000,4.000000,2.000000,3.000000,3.000000,2.000000,2.000000,2.000000,1.0,8.000000,5.000000,2.000000